
.meme {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: auto;
}

.meme-container {
    padding: 10px 0 120px;
}

.meme img {
  text-align: center;
    width: 50%;
    height: 50%;
}

.meme h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.meme-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.meme-form input {
    font-size: 2em;
    width: 40%;
    margin: 2%;
    height: 40px;
}

.meme-form button {
    border: none;
    margin-top: .3em;
    font-family: comic;
    font-size: 2em;
    height: 2em;
    letter-spacing: 1.0px;
    color: white;
    background: #214EA3;
}
