.bored-container-background {
  display: flex;
  background-image: linear-gradient(rgba(6, 18, 90, 0.2), rgba(14, 44, 99, 0.2)),
    url('../../images/superDad.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 50px 0;
  align-items: center;
}

.bored-header {
  color: #7F9EEF;
}

.bored-saved-background {
  background-color: white;
  opacity: 0.75;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.bored-container {
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  width: 40%;
  height: 60%;
  color: whitesmoke;
  border: 6px solid #214EA3;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  background-color: #7F9EEF;
  opacity: 0.92;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 50px;
}

.bored-container button {
  margin-top: -15px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 2px;
  align-self: center;
  cursor: pointer;
  border: 2px solid #333333;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .8;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #333333;
}
