
.landing-container-locations {
background-image: linear-gradient(rgba(6, 18, 90, 0.2), rgba(14, 44, 99, 0.2)),
 url('../../images/Meow.jpg');
/* background-repeat: no-repeat; */
background-position: center center;
background-attachment: fixed;
/* background-size: cover; */
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-bottom: 120px;
}
